body{
    background-color: black;
}


h1{
    color: white;
    text-align: center;
}

div{
    background-color: rgb(71, 67, 56);
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;

}
